<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
    body{padding-top: 0 !important;padding-bottom: 0 !important;padding-top: 0 !important;padding-bottom: 0 !important;margin:0 !important;width: 100% !important;-webkit-text-size-adjust: 100% !important;-ms-text-size-adjust: 100% !important;-webkit-font-smoothing: antialiased !important;}
    .tableContent img{border: 0 !important;display: block !important;outline: none !important;}
    div,p,ul,h2,h2{margin:0;}
    h2.big,h2.big{font-size: 21px;font-weight: normal;}
    .h2-destaques{color: #fff;font-size: 2.25em;line-height: 1;text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);margin-bottom: 0px;}
    a.link1{color:#62A9D2;font-size:13px;font-weight:bold;text-decoration:none;}
    .bgBody{background: #F6F6F6;}
    .bgItem{background: #ffffff;}
    @media only screen and (max-width:480px){
      table[class="MainContainer"], td[class="cell"]{width: 100% !important;height:auto !important; }
      td[class="specbundle"]{width: 100% !important;float:left !important;font-size:13px !important;line-height:17px !important;display:block !important;}
      td[class="specbundle1"] {width: 100% !important;float:left !important;font-size:13px !important;line-height:17px !important;display:block !important;padding-bottom:20px !important;}	
      td[class="specbundle2"] {width:90% !important;float:left !important;font-size:14px !important;line-height:18px !important;display:block !important;padding-left:5% !important;padding-right:5% !important;}
      td[class="specbundle3"] {width:90% !important;float:left !important;font-size:14px !important;line-height:18px !important;display:block !important;padding-left:5% !important;padding-right:5% !important;padding-bottom:20px !important;text-align:center !important;}
    	td[class="specbundle4"]{width: 100% !important;float:left !important;font-size:13px !important;line-height:17px !important;display:block !important;padding-bottom:20px !important;text-align:center !important;}
      td[class="spechide"] {display:none !important;}
      img[class="banner"]{width: 100% !important;height: auto !important;}
      td[class="left_pad"] {padding-left:15px !important;padding-right:15px !important;}
    }  	
    @media only screen and (max-width:540px){ 		
      table[class="MainContainer"], td[class="cell"]{width: 100% !important;height:auto !important; }
      td[class="specbundle"]{width: 100% !important;float:left !important;font-size:13px !important;line-height:17px !important;display:block !important;}
    	td[class="specbundle1"] {width: 100% !important;float:left !important;font-size:13px !important;line-height:17px !important;display:block !important;padding-bottom:20px !important;}		
      td[class="specbundle2"]{width:90% !important;float:left !important;font-size:14px !important;line-height:18px !important;display:block !important;padding-left:5% !important;padding-right:5% !important;}
    	td[class="specbundle3"]{width:90% !important;float:left !important;font-size:14px !important;line-height:18px !important;display:block !important;padding-left:5% !important;padding-right:5% !important;padding-bottom:20px !important;text-align:center !important;}
    	td[class="specbundle4"]{width: 100% !important;float:left !important;font-size:13px !important;line-height:17px !important;display:block !important;padding-bottom:20px !important;text-align:center !important;} 		
      td[class="spechide"]{display:none !important;}
    	img[class="banner"]{width: 100% !important;height: auto !important;}
    	td[class="left_pad"]{padding-left:15px !important;padding-right:15px !important;}
    	.font{font-size:15px !important;line-height:19px !important;}
    }
  </style>
  <script type="colorScheme" class="swatch active">
    {"name":"Default","bgBody":"F6F6F6","link":"62A9D2","color":"999999","bgItem":"ffffff","title":"555555"}
  </script>
</head>
<body paddingwidth="0" paddingheight="0" offset="0" toppadding="0" leftpadding="0" style="padding-top:0;padding-bottom:0;background-repeat:repeat;width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;margin-left:5px; margin-right:5px;margin-top:0px;margin-bottom:0px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:helvetica, sans-serif;'>
  
    <!--  =========================== The header ===========================  -->   
    
  <tbody>
    <tr>
      <td height='25' bgcolor='#4fafc2' colspan='3'></td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td valign="top" class="spechide">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr><td height='130' bgcolor='#4fafc2'>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                  </tbody>
                </table>
              </td>
              <td valign="top" width="600">
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer" bgcolor="#ffffff">
                  <tbody>
   <!--  =========================== The body ===========================  -->   
                    <tr><td class='movableContentContainer'>
      		            <div class="movableContent" style="border:0px;padding-top:0px;position:relative;">
            	           <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                          <tr><td bgcolor='#4fafc2' valign='top'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                          <tr><td align='left' valign='middle' >
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <h2 class="h2-destaques">Solidarize</h2>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                  <tr><td height='25' bgcolor='#4fafc2'><p style="color:#ffffff">Todos juntos em busca de um mundo melhor!</p></td></tr>
                <tr><td height='5' bgcolor='#3e6d92'></td></tr>
                <tr><td height='40' class='bgItem'></td></tr>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgItem'>
                      <tr>
                        <td width='70'></td>
                        <td align='center' width='530'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class="contentEditable" style='font-size:32px;color:#555555;font-weight:normal;'>
                              <h2 style='font-size:32px;'>Novidades para você</h2>
                            </div>
                          </div>
                        </td>
                        <td  width='70'></td>
                      </tr>
                      <tr><td colspan='3' height='22' ></td></tr>
                      <tr>
                        <td width='70'></td>
                        <td  align='center' width='530'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class="contentEditable" style='font-size:13px;color:#99A1A6;line-height:19px;'>
                              <p >Estamos te trazendo algumas novidades do nosso site e acreditamos que você possa se interessar por elas.</p>
                            </div>
                          </div>
                        </td>
                        <td  width='70'></td>
                      </tr>
                      <tr><td colspan='3' height='45' ></td></tr>
                    </table>
                  </td>
                </tr>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                  <tr><td height='10' bgcolor='#3e6d92'></td></tr>
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='#3e6d92'>
                          <tr>
                            <td width='25'></td>
                            <td width='475' valign='middle'>
                              <div class='contentEditableContainer contentTextEditable'>
                                <div class="contentEditable" style='font-family:Georgia;font-style:italic;font-size:15px;line-height:19px;'>
                                  <p style='color:#fff;'>Acesse nossas mídeas!</p>
                                </div>
                              </div>
                            </td>
                            <td width='45' valign='top'>
                              <div class='contentEditableContainer contentFacebookEditable'>
                                <div class="contentEditable">
                                  <img src="cid:facebook.png" alt='facebook' data-default="placeholder" data-customIcon="true" data-max-width='45' width='45' height='45' >
                                </div>
                              </div>
                            </td>
                            <td width='10'></td>
                            <td width='45' valign='top'>
                              <div class='contentEditableContainer contentTwitterEditable'>
                                <div class="contentEditable">
                                  <img src="cid:twitter.png" alt='Twitter' data-default="placeholder" data-customIcon="true" data-max-width='45' width='45' height='45' >
                                </div>
                              </div>  
                            </td>
                            <td width='10'></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height='10' bgcolor='#3e6d92'></td></tr>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20'></td></tr>
                      </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                <tr>
                  <td>
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class="contentEditable">
                        <img class="banner" src="cid:evento.jpg" alt='Evento' data-default="placeholder" data-max-width="600" width='600' height='180' >
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td height='10' bgcolor='#3e6d92'></td></tr>
                <tr>
                  <td bgcolor='#3e6d92' style='padding:8px 0;'>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="20" class="spechide">&nbsp;</td>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td align='left' valign='top' width='370' class="specbundle3">
                                  <div class='contentEditableContainer contentTextEditable'>
                                    <div class="contentEditable" style='color:#ffffff;font-size:21px;line-height:19px;'>
                                      <p><span class="font" th:text="${event1Title}"/></p>
                                      <p style="font-size:0.75em" th:text="${event1Date}"></p>
                                    </div>
                                  </div>
                                </td>
                                <td width='20' class="specbundle2"></td>
                                <td class="specbundle2" align='center' valign='middle' width='180'>
                                  <div class='contentEditableContainer contentTextEditable'>
                                    <div class="contentEditable">
                                      <a target='_blank' class='link3' href="#" style='background:#62A9D2; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>Leia mais</a>
                                    </div>
                                  </div>
                                </td>
    </tr>
  </tbody>
</table>
</td>
      <td width="20" class="spechide">&nbsp;</td>
    </tr>
  </tbody>
</table>

                          </td>
                        </tr>
                        <tr><td height='10' bgcolor='#3e6d92'></td></tr>
                      </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20'></td></tr>
                      </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td width='291' class="specbundle2" valign='top'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='15' colspan='3'></td></tr>

                              <tr>
                                <td width='20'></td>
                                <td width='251'>
                                  <table width="251" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable' style='color:#555555;font-size:21px;font-weight:normal;'>
                                            <h2 class='big' th:text="${event2Title}"></h2>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='16'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable' style='color:#999999;font-size:13px;line-height:19px;'>
                                            <p th:text="${event2Description}"></p>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='16'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <a target='_blank' class='link1' href="#" >Leia mais</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td width='20'></td>
                              </tr>

                              <tr><td height='15' colspan='3'></td></tr>
                            </table>
                          </td>

                          <td width='18' valign="top" class="specbundle2">&nbsp;</td>
                          
                          <td width='291' class="specbundle2" valign='top'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='15' colspan='3'></td></tr>

                              <tr>
                                <td width='20'></td>
                                <td width='251'>
                                  <table width="251" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable' style='color:#555555;font-size:21px;font-weight:normal;'>
                                            <h2 class='big'th:text="${event3Title}"></h2>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='16'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable' style='color:#999999;font-size:13px;line-height:19px;'>
                                            <p th:text="${event3Description}"></p>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='16'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <a target='_blank' class='link1' href="#" >Leia mais</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td width='20'></td>
                              </tr>

                              <tr><td height='15' colspan='3'></td></tr>
                            </table>
                          </td>
                        </tr>
                        
                      </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20'> </td></tr>
                      </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                        <tr>
                          <td width='16' class="spechide">&nbsp;</td>
                          <td width="568" class="specbundle2">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' >
                              <tr>
                                <td align='left' valign='top'>
                                  <div class="contentEditableContainer contentTextEditable" >
                                   <div class="contentEditable" style='color:#555555;font-size:21px;font-weight:normal;'>
                                    <h2 class='big'>Gostaria de mais novidades?</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='16'>&nbsp;</td></tr>
                            <tr>
                              <td align='left' valign='top'>
                                <div class="contentEditableContainer contentTextEditable" >
                                 <div class="contentEditable" style='color:#999999;font-size:13px;line-height:19px;'>
                                  <p >Então não perca tempo e acesse nosso website agora mesmo!</p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='20'>&nbsp;</td></tr>
                          <tr>
                            <td align='right' valign='top' style='padding-bottom:8px;'>
                              <div class="contentEditableContainer contentTextEditable" >
                               <div class="contentEditable" >
                                <a target='_blank' class='link2' href="http://solidarize-web-dev.herokuapp.com" style='padding:8px;background:#62A9D2;font-size:13px;color:#ffffff;text-decoration:none;font-weight:bold;'>Ir para o Solidarize →</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td width='16' class="spechide">&nbsp;</td>
                  </tr>
                  <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgBody' >
                  <tr><td height='54' style='border-bottom:1px solid #DAE0E4'>&nbsp;</td></tr>

                  <tr><td height='28'></td></tr>

                  <tr>
                    <td valign='top' align='center'>
                      <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 16px;'>
                          <p>Este e-mail foi enviado por que você se inscreveu na new do Solidarize. Por favor, adicione-nos aos seus contatos para garantir que os boletins informativos atinjam sua caixa de entrada.
                          </p>
                        </div>
                      </div>
                      </td>
                    </tr>

                    <tr><td height='28'></td></tr>

                    <tr>
                      <td valign='top' align='center'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" style='color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;'>
                            <p >Solidarize</p>
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 15px;'>
                            <p >Todos juntos em busca de um mundo melhor!</p>
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <a target='_blank' href='[UNSUBSCRIBE]' style='line-height: 20px;color:#A8B0B6; font-size:13px;'><br/>Parar de receber estes emails</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                </table>
            </div>
      
      </td>
    </tr>
  </tbody>
</table>
</td>
      <td valign="top" class="spechide"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height='130' bgcolor='#4fafc2'>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>

</body>
</html>